karma~(64)/karma~.mxo/Contents/Info.plist
karma~(64)/karma~.mxo/Contents/PkgInfo
karma~(b)/karma~.mxo/Contents/Info.plist
karma~(b)/karma~.mxo/Contents/PkgInfo
karma~.mxo/Contents/Info.plist
karma~.mxo/Contents/PkgInfo
